{% extends 'base.html.twig' %}

{% block body %}
    <h1>Données de l'API</h1>

    {% if data is defined and data.features is iterable %}
        <ul>
            {% for feature in data.features %}
                <li>
                    <p><strong>Élément {{ loop.index }} :</strong></p>
                    <strong>Nom:</strong> {{ feature.properties.name }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune donnée disponible.</p>
    {% endif %}
{% endblock %}


