{% extends 'base.html.twig' %}

{% block title %}
	L'accueil
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/map.js') }}" defer></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoc1qm_wW4HH6HfN3hty-_yl7XOg74g4o&callback=initMap&v=weekly" defer></script>
{% endblock %}

{% block body %}
	<div id="map" style="height:100vh;"></div>
{% endblock %}
