body {
  height: 100dvh;
}

#modalHeader {
  display: flex;
}

#staticBackdrop {
  top: 115em;
}

.loadingscreen {
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #0d0d0d;
}

#searchModalBackdrop {
  top: 115em;
}

#searchModalBackdrop #modalHeader {
  display: flex;
}

#searchModalBackdrop #modalHeader > h1,
#searchModalBackdrop #modalHeader > input {
  flex: 1;
}

.modal-title {
  margin-right: 1vh;
}

#modalWidth {
  width: 100vw;
  position: fixed;
  left: 50%;
  bottom: 0;
  max-height: 65vh;
}

#modalcontent {
  overflow: auto;
}

#searchModalBackdrop #modaleTransition {
  transition: none;
}

#searchModalBackdrop #modalBody {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.block {
  width: 250px;
  margin: 0.5em;
  box-sizing: border-box;
  height: 10em;

  z-index: 1;
  color: white;
  justify-content: center;
  display: flex;
}

.block h2 {
  font-size: 2vh;
  font-weight: bold;
}
.nonfiltré {
  background-image: url(../img/tout.png);
  background-size: cover;
  color: black;
}

.chateau {
  background-image: url(../img/chateau.jpg);
  background-size: cover;
}

.histoire {
  background-image: url(../img/histoire.jpg);
  background-size: cover;
}

.culture {
  background-image: url(../img/culture.jpg);
  background-size: cover;
}

.place {
  background-image: url(../img/place.jpg);
  background-size: cover;
}

.religion {
  background-image: url(../img/religion.jpg);
  background-size: cover;
}

.restaurant {
  background-image: url(../img/restau.jpg);
  background-size: cover;
}

.modal-footer > button {
  flex: 1;
  padding: 0.7em;
}

#map {
  z-index: 0;
  height: 100%;
}

#logo {
  z-index: 1;
  position: fixed;
  top: 2em;
  margin-left: 1em;
}

#logo > img {
  width: 20vw;
  max-width: 180px;
  height: auto;
  border-radius: 2em;
}

#nav {
  display: none;
  position: fixed;
  z-index: 1;
  left: calc(6em);
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(146, 146, 146, 0.588);
  height: 55vh;
  border-radius: 2em;
  margin: 0 0 0 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nav > a {
  margin: auto;
  width: 60px;
}

#nav a img {
  width: 120%;
}

.bottom_button {
  z-index: 1;
  border-radius: 2vh;
  background-color: rgba(0, 0, 0, 0.392);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  border: 0.2em solid black;
  display: flex;
  flex-wrap: wrap;
}

.burger {
  bottom: 5em;
  left: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-line {
  border-radius: 4px;
  height: 6px;
  width: 70%;
  background-color: #000;
  transition: all 0.2s ease-in-out;
}

.burger.cross > #burger-line3 {
  display: none;
}

.burger.cross > #burger-line1 {
  transform: rotate(45deg) translate(20px, 20px);
}

.burger.cross > #burger-line2 {
  transform: rotate(-45deg) translate(20px, -20px);
}

.geoloc {
  bottom: 5em;
  right: 5em;
}

.geoloc-loc {
  display: block;
  width: 100%;
  margin: auto;
}

.geoloc-loc_blue {
  display: none;
  width: 100%;
  margin: auto;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  max-width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  height: max-content;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 600px) {
  .commentaire {
    border: dashed;
    border-width: 2px 4px;
    border-radius: 40px;
    margin: 1vh;
  }
  .commentaire_photo {
    display: flex;
    justify-content: space-between;
    margin: 1vh;
  }
  
  .commentaire  h3 {
    font-weight: bold;
    font-size: 2em;
    
  }
  .commentaire  img {
    width: 10%;
    
  }

  .modal-content p {
    font-size: 2em;
    width: 42vh;
  }
  .modal-content  h2 {
    font-weight: bold !important;
    font-size: 3em !important;
    
  }

  #modal-content_commentaire {
    height: 75vh;
    max-width: 96vw;
  }
  .bottom_button {
    width: 6vh;
    height: 6vh;
  }

  .burger.cross > #burger-line1 {
    transform: rotate(45deg) translate(1.5rem, 1.5rem);
  }

  .burger.cross > #burger-line2 {
    transform: rotate(-45deg) translate(1.5rem, -1.5rem);
  }
  #nav {
    width: 18vw;
  }
  #logo {
    top: 11em;
  }
}

@media (min-width: 1320px) {
 
  #modal-content_commentaire {
    max-width: 76vw;
    height: 80vh;
}

.modal-content p {
  font-size: 2em;
  width: 100%;
}
  #modalWidth {
    width: 48vw !important;
  }
  .bottom_button {
    width: 7vh;
    height: 7vh;
  }
  .burger.cross > #burger-line1 {
    transform: rotate(45deg) translate(0.6rem, 0.6rem);
  }

  .burger.cross > #burger-line2 {
    transform: rotate(-45deg) translate(0.7rem, -0.9rem);
  }
  #nav {
    width: 9vw;
    left: calc(6em);
  }
  #logo {
    top: 2em;
    left: calc(0.5em);
  }
}
