* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.nav_gift {
    margin: 1em 0 1em 1em;
    display: flex;
}

#logo {
    width: 20vw;
    height: auto;
    border-radius: 2em;
}

.nav_gift-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoReturn {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.researchBar {
    position: fixed;
    top: 2em;
    right: 2em;
    display: flex;
    align-items: center;
}

.researchBar button {
    padding: 0.4em;
}

main {
    display: flex;
    flex-direction: column;
}

.condition {

  background-color: #d6dfe7;
  width: 90%;
  height: 20vh;
  margin: auto;
  border-radius: 1em;
}

.buttonMod {
  width: 40%;

}

#staticBackdrop {
    top: 115em;
}

#modalHeader {
    display: flex;
}

#modalHeader>h1,
#modalHeader>input {
    flex: 1;
}

#modalWidth {
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 65vh;
}

#modaleTransition {
    transition: none;
}

#modalBody {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
}

#modalWidth {
    width: 100vw;
    position: fixed;
    left: 50%;
    bottom: 0;
    max-height: 65vh;
  }

  .modal-content {

    max-width: 70vw;
   position: absolute;
    top: 50%;
    left: 50%;
    height: max-content;
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  
.block {
    width: 250px;
    margin: 1.5em;
    box-sizing: border-box;
    height: 10em;
   
    z-index: 1;
   
    justify-content: center;
    display: flex;
   
  }

  .block h2 {
    font-size: 2vh;
   font-weight: bold;
  }
  
  .nonfiltré {
    background-image: url(../img/tout.png);
    background-size: cover;
    color: black;
  }

  .restauration {
    background-image: url(../img/restaurantg.jpg);
    background-size: cover;
    color: white;
  }

  .parc {
    background-image: url(../img/parcg.jpg);
    background-size: cover;
    color: black;
   
  }



  .boutique {
    background-image: url(../img/boutiqueg.jpg);
    background-size: cover;
    color: black;
  }

  .vin {
    background-image: url(../img/ving.jpg);
    background-size: cover;
    color: white;
  }

  .transport {
    background-image: url(../img/transportg.jpg);
    background-size: cover;
    color: black;
  }

 

.modal-footer>button {
    flex: 1;
    padding: 0.7em;
}

.block_gift {
    display: flex;
    width: 90%;
    height: 10vh;
    background-color: yellow;
    overflow: hidden;
}

.block_gift-l {
    flex: 2;
}

.block_gift-r {
    flex: 1;
    box-sizing: border-box;
}

.block_gift-r img {
    max-width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: end;
}

.gift_footer {

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 14vh;
  height: 5vh;
  background-color: #8e8c84;
  border-radius: 0.5em;
  margin: 2vh 2vh 0 0;
  font-size: 2em;
}

.gift_footer a {
  text-decoration: none;
  color: white;
  text-transform: bold;
}

.navigation span {
  font-size: 3em;
  margin: 0.2em;
  color: grey;
}


@media (min-width: 1320px) {
    #modalWidth {
      width: 48vw !important;
      
  } 
}