{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/itineaire.css') }}">
{% endblock %}

{% block title %}Faite votre itineraire
{% endblock %}

{% block body %}
	    <h1>Résultats de l'itinéraire</h1>

    {% if results %}
        <ul>
            {% for result in results %}
                <li>
                    Distance: {{ result.distance|default('Non disponible') }}<br>
                    Durée: {{ result.duration|default('Non disponible') }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun résultat d'itinéraire trouvé.</p>
    {% endif %}
	{% endblock %}